$font-color: #000000
$font-family: 'Inter', sans-serif
$primary-color: #D9D9D9
$background-color: #FFFFFF
$hover-color: #DEDEDE

:host
    ::ng-deep
        .p-panel
            margin: 2rem
            color: $font-color
            cursor: pointer


        .p-panel-content
            background: $primary-color
            color: $font-color
            border: 0


        .info
            display: flex
            flex-wrap: nowrap
            align-items: center
            padding: 0.5rem 1rem
            margin: 0.5rem 1rem 1rem 1rem
            text-align: center

        .hours
            flex-basis: 10%

        .content
            flex-basis: 90%

        .center
            display: flex
            flex-wrap: nowrap
            align-items: center
            justify-content: center
