<p-panel [showHeader]="false">
    <h3 style="margin-left: 2.5%;">{{calendar.date}}</h3>
    <div class="info">
        <div class="hours">
            <p class="hourStart">{{calendar.hourStart}}</p>
            <p class="hourEnd">{{calendar.hourEnd}}</p>
        </div>
        <div class="content">
            <h4 class="center">{{calendar.name}}</h4>
            <p class="center">{{calendar.professor}}</p>
        </div>
    </div>

</p-panel>