<div>
    <h1>404 Error</h1>
    <h1>Page Not Found</h1>
</div>
<span class="p-float-label">
    <input id="float-input" type="text" pInputText> 
    <label for="float-input">Username</label>
</span>

