<div class="row">
  <div class="col-lg-6 col-md-6 col-xs-6 list" *ngFor="let calendar of calendars">
    <app-calendar-list-item [calendar]="calendar" (click)="showCourseModal()"></app-calendar-list-item>
  </div>
</div>

<p-dialog header="{{ courseName }}" [draggable]="false" [modal]="true" [dismissableMask]="true" [(visible)]="displayModal" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">

  <ng-container *ngIf="signatureImg === ''; then toSign; else signed"></ng-container>

  <app-signatures></app-signatures>

  <ng-template #toSign>
    <div>
      <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
    </div>

    <button pButton (click)="clearPad()" icon="pi pi-times" class="p-button-rounded p-button-outlined" label="Effacer"></button>
    <button pButton (click)="savePad()" icon="pi pi-check" class="p-button-rounded p-button-outlined" label="Sauvegarder"></button>

  </ng-template>
  <ng-template #signed>
    <div id="signatureDiv">
      <img src="{{signatureImg}}" alt="Signature">
    </div>
  </ng-template>

</p-dialog>
