$font-color: #000000
$font-family: 'Inter', sans-serif
$primary-color: #D9D9D9
$background-color: #FFFFFF
$hover-color: #DEDEDE

:host
    ::ng-deep
        .row
            display: flex
            flex-wrap: wrap
            align-items: center
            justify-content: center
            flex-direction: column
            @media screen and (min-width: 700px)
                flex-direction: row
        .list
            width: 90%
            @media screen and (min-width: 700px)
                width: 40%


canvas
  margin: auto
  border: $hover-color 1px solid
#signatureDiv
  display: flex
  flex-direction: row
  justify-content: center
  div
    display: flex
    flex-direction: row
    justify-content: center
