<h1>Liste des élèves</h1>
<h3>B2 InfoTech</h3>

<p-table [value]="students">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
        <tr>
            <td>{{student.lastname}} {{student.firstname}}</td>
            <td>
                <button pButton type="button" (click)="openSign(student)" class="p-element p-ripple p-button-rounded p-button p-component p-button-icon-only p-button-secondary" style="margin-right: 6px;">
                    <span class="p-button-icon pi pi-pencil" aria-hidden="true"></span>
                </button>
                <button pButton type="button" (click)="missing(student)" class="p-element p-ripple p-button-rounded p-button p-component p-button-icon-only p-button-secondary" style="margin-right: 6px;">
                    <span class="p-button-icon pi pi-user-minus" aria-hidden="true"></span>
                </button>
                <button pButton type="button" class="p-element p-ripple p-button-rounded p-button p-component p-button-icon-only p-button-secondary">
                    <span class="p-button-icon pi pi-comment" aria-hidden="true"></span>
                </button>
            </td>
        </tr>

        <div id="sign-module" style="display: none;">
            <p>TEST</p>
        </div>
    </ng-template>
</p-table>