$font-color: #000000
$font-family: 'Inter', sans-serif
$primary-color: #D9D9D9
$background-color: #FFFFFF
$hover-color: #DEDEDE

:host
    ::ng-deep
        .card
            display: flex
            flex-direction: column
            align-items: center
            margin: 50px 0
            .avatar
                .p-avatar
                    background-color: $primary-color
            .name
                font-size: 24px
                margin: 25px 0
            .mail-container, .grade-container, .phone-container
                .pi
                    margin-right: 5px
            span
                color: $font-color
                font-family: $font-family
            button
                margin-top: 40px
                font-size: 12px
                background-color: $primary-color
                border-color: $primary-color
            button:focus
                background-color: $primary-color
                border-color: $primary-color
            button:hover
                opacity: 0.9
                background-color: $primary-color
                border-color: $primary-color
        .p-dialog
            display: inline-block
            background-color: $background-color
            padding: 5px 15px
            border-radius: 5px
            border: none
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
            max-width: 600px
            .p-dialog-header
                background-color: $background-color
            .p-dialog-header-close-icon
                color: $font-color
            .p-dialog-title
                font-size: 16px
                color: $font-color
            .p-dialog-content
                background-color: $background-color
            .modal-content
                display: flex
                flex-direction: row
                justify-content: space-between
            @media screen and (max-width: 700px)
                .modal-content
                    flex-direction: column
                    justify-content: space-between
            .password-rules
                display: flex
                flex-direction: column
                justify-content: center
                font-size: 14px
                color: $font-color
            .reset-password-input
                display: flex
                flex-direction: column
                label
                    margin-bottom: 5px
                    font-size: 14px
                    color: $font-color
                input
                    margin-bottom: 10px
                    background-color: $background-color
                    border-color: $font-color
                    color: $font-color
                input:focus
                    box-shadow: none
            .p-dialog-footer
                display: flex
                justify-content: flex-end
                background-color: $background-color
                border: none
                button
                    font-size: 12px
                    background-color: $primary-color
                    border-color: $primary-color
                button:focus
                    background-color: $primary-color
                    border-color: $primary-color
                button:hover
                    background-color: $hover-color
                    border-color: $hover-color
