<section>
  <h1>SignUI</h1>
  <form id="loginForm" action="http://localhost:4200/calendar" [formGroup]="formLogin" (submit)="$event.preventDefault(); login();">

    <label for="loginInput">E-mail</label>
    <input type="text" id="loginInput" pInputText required formControlName="mail"/>

    <label for="passwordInput">Mot de passe</label>
    <input type="password" id="passwordInput" pInputText required formControlName="password"/>

    <button pButton type="button" (click)="showDialog()" label="Mot de passe oublié" class="p-button-text"></button>
    <button pButton type="submit" class="p-button-rounded p-button-outlined" label="Se connecter"></button>

  </form>
</section>

<p-dialog header="Mot de passe oublié" [draggable]="false" [modal]="true" [dismissableMask]="true" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
  <label for="loginForMDPInput">E-mail de récupération</label><br>
  <input type="text" id="loginForMDPInput" pInputText required/>
  <ng-template pTemplate="footer">
    <button pButton type="button" (click)="dismissDialog()" icon="pi pi-times" class="p-button-rounded p-button-outlined" label="Annuler"></button>
    <button pButton type="button" (click)="dismissDialog()" icon="pi pi-check" class="p-button-rounded p-button-outlined" label="Envoyer"></button>
  </ng-template>
</p-dialog>




